/*html {
  padding:0;
  margin: 0;
}
body {
  color: #333333;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.25em;
}*/
#page_wrap {
/*  border: 1px solid #DDDDDD;
  width: 580px;
  height:400px;
  margin-left: auto;
  margin-right: auto;
  margin-top:150px;*/
}

.image_stack { /* css style for photo stack */
  width: 185px;
  position: relative;
  margin:10px 10px 10px 0px;
  height:230px;
    display:inline-block;
    vertical-align: top;
}

.image_stack .info {
    margin-top: 180px;
}

.image_stack .info, .single_photo .info {/*position:absolute;*/ /*top:180px; left:8px;*/ font-size:11px;}

.image_stack img { /* css style for photo stack */
  text-decoration: none;
  margin-left:0px;
  width: 158px;
  height: 158px;
  position: absolute;
  border: 4px solid #FFF;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 10;
  /* Firefox */
  -moz-transition: all 0.2s ease;
  /* WebKit */
  -webkit-transition: all 0.2s ease;
  /* Opera */
  -o-transition: all 0.2s ease;
  /* Standard */
  transition: all 0.2s ease;
}
.image_stack .photo1 {  /* position of last photo in the stack */
  /*top: 8px;
  left: 8px;*/
    margin-left: 8px;
}
.image_stack .photo2 {/* position of middle photo in the stack */
  /*top: 6px;
  left: 4px;*/
    margin-left: 4px;
}
.image_stack .photo3 {/* position of first photo at the top in the stack */
  /*top: 4px;
  left: 0px;
  right: 100px;*/
    margin-left: 0px;
}
.image_stack .rotate1 {/* rotate last image 15 degrees to the right */
  -webkit-transform: rotate(15deg); /* safari and chrome */
  -moz-transform: rotate(15deg);/*firefox browsers */
  transform: rotate(15deg);/*other */
  -ms-transform:rotate(15deg); /* Internet Explorer 9 */
  -o-transform:rotate(15deg); /* Opera */
}
.image_stack .rotate2 {/* css not used*/
  -webkit-transform: rotate(0deg); /* safari and chrome */
  -moz-transform: rotate(0deg);/*firefox browsers */
  transform: rotate(0deg);/*other */
  -ms-transform:rotate(0deg); /* Internet Explorer 9 */
  -o-transform:rotate(0deg); /* Opera */
}
.image_stack .rotate3 {/*rotate first image 15 degrees to the left*/
  -webkit-transform: rotate(-15deg); /* safari and chrome */
  -moz-transform: rotate(-15deg); /*firefox browsers */
  transform: rotate(-15deg);/*other */
  -ms-transform:rotate(-15deg); /* Internet Explorer 9 */
  -o-transform:rotate(-15deg); /* Opera */
  cursor: pointer;
}


ul#pics li {/*css style for the single photo only **/
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 1px 1px 1px #999999;
  display: inline-block;
  width: 167px;
  height:167px;
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}
ul#pics li img {/*css style for the single photo only **/
  width: 158px;
  height:158px;
  display: block;
    margin:3px auto;
}
ul#pics li a {/*margin:5px 0 0 5px;*/ display:block; margin:0;}
ul#pics li:hover {/*css style for the single photo only **/
  -moz-transform: scale(1.1) rotate(0deg);
  -webkit-transform: scale(1.1) rotate(0deg);
  -o-transform: scale(1.1) rotate(0deg);
  -ms-transform: scale(1.1) rotate(0deg);
  transform: scale(1.1) rotate(0deg);
}
ul#pics {/*margin:4px 0 0 5px;*/ padding:0; min-height: 180px; margin: 0;}
.single_photo {/*css style for the single photo only **/
  width: 185px;
  position: relative;
  margin:10px 10px 10px 0;
  height:230px;
    display:inline-block;
    vertical-align: top;
}