html, body {width:100%; height:100%; margin:0; padding:0; text-align:center;
background: url(../gfx/texture_20.png), url(../gfx/gradient_black.png);
background-size: 160px,20px 100%;}
.b-main-table {width:100%; height:100%;}
.b-main-table td {text-align:center}
.b-main-table .alert {margin:20px auto !important; width:266px}
.b-main-table fieldset {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 20px;
  padding:20px;
  color:#fff;
}

.b-login-form {margin:auto; padding:0; width:320px; text-align:left}
.b-login-form table {width:100%}
.b-login-form td {text-align:left}
.b-login-form .checkbox {margin-left:15px}
.b-login-form .form-control {font:30px/120% "freesans",Arial, Helvetica, sans-serif; background:url("../gfx/input-bg.gif") repeat-x 0 0 #fff; outline:0; height:auto}


.remind {margin:0}

.logo {margin:0 auto 10px auto; font:bold 12px Tahoma, Arial, Helvetica, sans-serif; padding:0}
.ygin-copy {font:10px Tahoma, Arial, Helvetica, sans-serif; color:#bbb; text-align:right !important; margin:5px 0 0 0}
.ygin-copy a:link, .ygin-copy a:visited {color:#bbb; text-decoration:none}
.ygin-copy a:hover {text-decoration:underline}

.b-auth-captcha{margin-bottom:20px}
.b-auth-captcha input[type="text"]{margin-bottom:10px}
.b-auth-captcha a, .b-auth-captcha a:link, .b-auth-captcha a:visited{color:#fff; font-size:12px; margin-left:5px; text-decoration:underline}
.b-auth-captcha a:hover{text-decoration:none}
