/* About Developers */
.digitalAgeTable {width:100%; border:0; border-collapse:collapse; margin:20px 0}
.digitalAgeTable th {width:43px; vertical-align:top}
.digitalAgeTable th i {width:43px; display:block; font-size:0; line-height:0; height:43px; background-image:url(../gfx/digitalAge.png); background-repeat:no-repeat}
.digitalAgeTable th i.tel {background-position:0 0}
.digitalAgeTable th i.mail {background-position:0 -86px}
.digitalAgeTable th i.adr {background-position:0 -43px}
.digitalAgeTable td {vertical-align:top; width:30%; padding:0 10px}
































/********************************************************
***** Новые стили ***************************************
*********************************************************/

.navbar .navbar-brand {background:url(../gfx/ygin_icon.png) no-repeat 0 18px;float:left; color:#fff; padding:0 5px 0 20px; margin-left:0 !important; font-family:'Russo One', "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif; font-weight:700; line-height:50px}
@media (max-width: 767px){
  .navbar .navbar-brand {margin-left:20px !important}
}
.navbar .navbar-brand span {font-style:normal; font-weight:normal; font-family:Arial, Geneva, sans-serif}
.navbar .version {float:left; padding:2px 0 0 0; font-size:10px; cursor:default;}

/* Search */
.b-navbar-search .fields {margin-right:10px}
.b-navbar-search .query-group {width:200px}

/* InstanceList */
.b-instance-list-count {float:right; margin:10px 0; font:10px Verdana, Arial, sans}
.b-instance-list {clear:both}
.b-instance-list th {
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
}
.b-instance-list th, .b-instance-list td {border-left:none !important; border-right:none !important;}
.b-instance-list .col-ref, .b-instance-list .col-num, .b-instance-list .col-String, .b-instance-list .col-id {vertical-align:middle !important}
.b-instance-list tr>:first-child {border-left: 1px solid #DDDDDD;}
.b-instance-list tr tr>:first-child {border:0} 
.b-instance-list .base {}
.b-instance-list .alt {background-color:#F9F9F9}
.b-instance-list .col-void {border-right:none !important}
.b-instance-list .col-id {width:1%; max-width:50px; text-align:right; padding:0 5px; font-size:10px; overflow:hidden;}
.b-instance-list .col-num {width:1%; text-align:center; padding:0 5px}
.b-instance-list .col-string {padding:7px}
.b-instance-list .col-ref {width:1%; text-align:center; padding:5px}
.b-instance-list .col-ref-one {width:1%; text-align:left; padding:5px}
.b-instance-list .col-ref-one table {border:0; border-collapse:collapse}
.b-instance-list .col-ref-one th {padding:0 10px 0 0; background:none}
.b-instance-list .col-ref-one td {border:none}
.b-instance-list .col-img {padding:5px; width:1%}
.b-instance-list .col-galka {text-align:center}
.b-instance-list .col-galka {text-align:center}
.b-instance-list .col-galka .editable {cursor:pointer;}
.b-instance-list .col-galka .load {display:block; line-height:0; font-size:0; margin:0 auto; background:url('../../../../assets/gfx/loading_s.gif') 0 0; width:16px; height:16px;}
.b-instance-list .highlight {background:#FFEF8F}
.b-instance-list .sorter {cursor:move}
.b-instance-list-select-multi {list-style:none; padding:0; margin:0}
.b-instance-list-select-multi .b-instance-list-select-multi {margin-left:20px}
.b-multi-items {margin:0 0 10px 0; padding:0 0 0 15px}
.b-multi-items li {clear:both; padding:0 0 10px 0}

.b-pagination-container {text-align:center}
.b-pagination-container .pagination {margin:0 0 15px 0}
.b-pagination-container .b-ajax-process {margin: 5px 0 0 10px;}

/* MenuStatus */
.b-status-bar td {border:0 !important; padding:0 2px}


.icon-green {color:green}
.icon-red {color:red}


/* InstanceEditFoem */
.b-content-container {margin-top:20px}
.b-content-container h1 {margin-top:0; margin-bottom:20px}
.b-content-container h1 .btn, .b-instance-edit-form legend .btn {margin-right:5px}
.b-instance-edit-form legend {font: 24px/40px "Trebuchet MS",Arial,Tahoma,sans-serif;}
/*
.b-instance-edit-form .control-label {width:250px}
.b-instance-edit-form .control-label .btn {margin-left:5px}
.b-instance-edit-form .controls {margin-left:270px}
*/
.b-instance-edit-form .form-actions {padding:10px; margin:20px 0; background-color: #f5f5f5; border: 1px solid #e5e5e5;}
.b-instance-edit-form .form-actions .bar {position:static}
.b-instance-edit-form .form-actions .bar-fixed {position:fixed; bottom:0; right:0; padding:10px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  border:1px solid #A2B6CF;
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px){
  .b-instance-edit-form .form-actions .bar-fixed {right:auto; left:0}
  .b-instance-edit-form .form-actions .btn-group {margin-bottom:10px}
}

.b-instance-edit-form .alt {}
.b-instance-edit-form .field-editor-container {clear:left}
.b-instance-edit-form .field-date select {width:50px}

.b-instance-edit-form .field-date .datepicker {padding-left:0}
.b-instance-edit-form .field-date .datepicker input {width:85px; display:inline-block}
.b-instance-edit-form .field-date .datepicker .icon-calendar {margin:2px 0 0 -22.5px; pointer-events: none; position: relative;}
.b-instance-edit-form .field-date .timepicker input {width:72px; display:inline-block}
.b-instance-edit-form .field-date .timepicker .icon-time {margin:2px 0 0 -22.5px; pointer-events: none; position: relative;}
.b-instance-edit-form .field-date .clear-date-time {cursor:pointer;}

.b-instance-edit-form .field-edit {background:#fff url("../gfx/input-bg.gif") repeat-x 0 0; outline:0}
.b-instance-edit-form .field-textarea {width:98%; background:url(../gfx/textareabg.gif) repeat-x 0 0; padding:5px; outline:0}
/* Устаревшая загрузка файлов
.b-instance-edit-form .field-file-uploaded {vertical-align:top}
.b-instance-edit-form .field-file-uploaded a {margin-left:20px}
.b-instance-edit-form .field-file-uploaded .remove {cursor:pointer; vertical-align:top}
*/
.b-instance-edit-form .additional-property-container {border:1px solid #ddd; padding:10px}
.b-instance-edit-form .additional-property-list {display:none; margin-top:20px}
.b-instance-edit-form .field-php-script {border-left:1px solid #ddd}

/* File list upload form */
.b-instance-edit-form .field-file-list-upload .progress {margin-bottom:0}
.b-instance-edit-form .field-file-list-upload .progress-extended {margin-bottom:10px}
/* Устаревшая загрузка файлов
.b-instance-edit-form .field-file-list-upload .file-list {color:black; list-style:none; padding:0 !important; margin:0 !important; overflow:hidden; width:100%}
.b-instance-edit-form .field-file-list-upload .file-list li {float:left; margin:0; padding:0 0 10px 0; position:relative; width:160px}
.b-instance-edit-form .field-file-list-upload .file-list a {background-image:url(../gfx/fileIcons.png); background-repeat:no-repeat; display:block; padding:3px 0 3px 20px; width:100px; overflow:hidden; white-space:nowrap; margin:0}
.b-instance-edit-form .field-file-list-upload .file-list .unk {background-position:-240px 0}
.b-instance-edit-form .field-file-list-upload .file-list .xls {background-position:-208px -32px}
.b-instance-edit-form .field-file-list-upload .file-list .doc {background-position:-176px -64px}
.b-instance-edit-form .field-file-list-upload .file-list .docx {background-position:-176px -64px}
.b-instance-edit-form .field-file-list-upload .file-list .txt {background-position:-176px -64px}
.b-instance-edit-form .field-file-list-upload .file-list .jpg {background-position:-144px -96px}
.b-instance-edit-form .field-file-list-upload .file-list .jpeg {background-position:-144px -96px}
.b-instance-edit-form .field-file-list-upload .file-list .png {background-position:-144px -96px}
.b-instance-edit-form .field-file-list-upload .file-list .gif {background-position:-144px -96px}
.b-instance-edit-form .field-file-list-upload .file-list .bmp {background-position:-144px -96px}
.b-instance-edit-form .field-file-list-upload .file-list .rar {background-position:-112px -128px}
.b-instance-edit-form .field-file-list-upload .file-list .mp3 {background-position:-49px -192px}
.b-instance-edit-form .field-file-list-upload .file-list .avi {background-position:-20px -224px}
.b-instance-edit-form .field-file-list-upload .file-list .mpg {background-position:-20px -224px}
.b-instance-edit-form .field-file-list-upload .file-list .pdf {background-position:-81px -160px}
.b-instance-edit-form .field-file-list-upload .file-list b {display:none; width:12px; height:12px; background:url(../gfx/misc.png) no-repeat 0 -199px; position:absolute; top:4px; left:125px; cursor:pointer; font-size:0; line-height:0}
.b-instance-edit-form .field-file-list-upload .file-list b.ani {background:url(../../../../assets/gfx/loading_s.gif) no-repeat 0 0; width:16px; height:16px}
*/
/*.b-instance-edit-form .field-file-list-upload .input-file {width:40px}  TODO: Проверить, надо ли это */
.uploadAnimation {background:url(../../../../assets/gfx/loading_s.gif) no-repeat 0 0; display:none; padding:0 10px; font-size:16px}

.b-ajax-process {background:url(../../../../assets/gfx/loading_s.gif) no-repeat 0 0; display:inline-block; visibility:hidden; width:16px; height:16px; line-height:16px; vertical-align:top;}
.b-ajax-process-active {visibility:visible;}

/* аякс-процесс для переключателя страниц */
.pagination .b-ajax-process {margin-left:20px; margin-top:-15px}

.b-instance-edit-form .error-breaker {display: none;}
.b-instance-edit-form .error .error-breaker {display: inline;}
br.label-message {display:block; line-height: 0; float:left}


/* Menu */
.b-menu-side-main {margin-top:20px}
.b-menu-side-main .panel {margin-bottom:10px}
.b-menu-side-main .panel-heading {display:block}
.b-menu-side-main .panel-heading:link, .b-menu-side-main .panel-heading:visited {text-decoration:none}
.b-menu-side-main .panel-body {padding:0}
.b-menu-side-main .panel-body a:link, .b-menu-side-main .panel-body a:visited {color:#000; padding:8px 15px}
.b-menu-side-main .panel-body .active a:link, .b-menu-side-main .panel-body .active a:visited {background:#d9edf7; color:#428bca}


/* Actions */
.action-del-loc a, .action-del-loc-no i, .action-view i, .action-view-no i, .action-edit a, .action-edit-no i, .action-delete a, .action-delete-no i, .action-folder a, .action-folder-full a, .action-sub-data i, .action-sub-data-no i {background-image:url(../gfx/actions.png); background-repeat:no-repeat}
.action-folder a {background-position:left 0; font-size:10px; line-height:10px;}
.action-folder-full a {background-position:left -32px; font-size:10px; line-height:10px;}
.action-folder b, .action-folder-full b {display:block; padding-top:15px}
.action-edit a {background-position:left -64px}
.action-edit-no i {background-position:left -96px}
.action-delete a {background-position:left -128px}
.action-delete-no i {background-position:left -160px}
.action-delete .process {background:url(../../../../assets/gfx/loading_s.gif) no-repeat 8px 8px; outline:transparent}
.action-del-loc a {background-position:left -192px}
.action-del-loc-no i {background-position:left -224px}
.action-view i {background-position:left -256px}
.action-view-no i {background-position:left -288px}
.action-sub-data i {background-position:left -320px}
.action-sub-data td, .action-sub-data th {line-height:120%}
.action-sub-data-no i {background-position:left -352px}
.action-del-loc-no i, .action-view i, .action-view-no i, .action-edit-no i, .action-delete-no i, .action-delete a, .action-edit a, .action-folder a, .action-folder-full a, .action-sub-data i, .action-sub-data-no i, .action-del-loc a {display:block; width:32px; height:32px; margin:0 auto}
.action-del-loc-no i, .action-view i, .action-view-no i, .action-edit-no i, .action-delete-no i, .action-delete a, .action-edit a, .action-sub-data i, .action-sub-data-no i, .action-del-loc a {font-size:0; line-height:0;}
.action-sub-data .popover-container {position:relative}
.action-sub-data ul {position:absolute; background:#fff; border:1px solid #f66; right:38px; top:2px; margin:0; padding:5px; text-align:left; list-style:none; display:none; z-index:100}
.action-sub-data li {white-space:nowrap; margin:0; padding:0; font-size:10px; font-family:Verdana, Arial, Helvetica, sans-serif; line-height:150%}


/* Cache options */
.b-object-property .cache-mode-settings {margin:10px 0 0 0 !important;}
.b-object-property .cache-mode-settings-auto, .b-object-property .cache-mode-settings-manual {list-style:none; padding:0  !important}
.b-object-property .cache-mode-settings-db {list-style:none; padding: 0 0 0 20px;}
.b-object-property-wide .control-label {float:none; margin-bottom: 10px;}


#yii-debug-toolbar-switcher {top:55px !important}
.b-toolbar {padding:0 10px}
.b-toolbar .btn-group {margin-right:10px}



/* RBam - раздача прав */
#rbam form {background:auto; border:0}
#rbam #left-column {width:33% !important}
#rbam #right-column {margin-left:35% !important}
#rbam-menu {margin:0}
.alphaPager .hidden {visibility:visible;}
#rbam .view .grid-view .summary {position:relative !important; top:0 !important}
#rbam .view, #rbam .yiiTab div.view {background:#f6f6f6 !important}
#rbam form .row, #rbam-dialog-form .row {min-height:0 !important; margin-left:0 !important}

/* SiteModuleList */
.b-site-module-list td {vertical-align:top}
.b-site-module-list h3 {line-height:100%; margin-bottom:5px}
.b-site-module-list .misc {width:350px; text-align:right}
.b-site-module-list .version {font-size:10px; margin-top:8px}
.b-site-module-list .link {line-height:100%; margin-top:5px}



/* Admin pages */
.b-welcome {padding-bottom:20px; position: relative; line-height: 1.6em; margin-top:-10px}
.b-welcome .introduction {margin-bottom:50px; border-top:1px solid #ddd; padding-top:20px}
.b-welcome h3 {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif; font-size: 32px; font-weight: normal; line-height: 1.2; margin: .1em 0 .8em 190px;}
.b-welcome .backend-badge {float: left; padding-top: 142px; padding-bottom:10px; width: 173px; font-weight: bold; font-size: 14px; text-align: center; color: #FFFFFF; text-shadow: 0 -1px 0 rgba(22, 57, 81, 0.3);}
.b-welcome .about-description {margin-left: 190px; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif; font-weight: normal; line-height: 1.6em; font-size: 20px;}
.b-welcome .plugin-list .row-fluid {margin-bottom:40px}

/* Modal multi-selector */
.b-modal-bg {z-index: 300007; background:#000; position:fixed; top:0; left:0; width:100%; height:100%; opacity:0.3; -ms-filter:"alpha(opacity=30)"; filter:alpha(opacity=30); //position:absolute; top:expression(eval(document.body.scrollTop)+'px'); height:expression(eval(document.body.clientHeight)+'px')}
.b-modal-wnd {border:1px solid #ddd; z-index:300009; position:absolute; background:#fff}
.b-modal-wnd iframe {border-collapse:collapse; border:0}
.b-modal-wnd .aButtonContainer {background:#ddd; border-top:1px solid #666}
.b-modal-wnd-body footer, .b-modal-wnd-body .navbar {display:none}

/* TinyMCE */
.mceContentBody {background-attachment: fixed; background-repeat:repeat-x !important; background-image: url(../gfx/textareabg.gif) !important}

/* WidgetPlace */
.b-widget-place ul {list-style:none; padding:0; margin:0; min-height:20px}
.b-widget-place .label {cursor:move; display:block; margin:5px 0; text-align:left}
.b-widget-place .highlight {background:#FFEF8F; height:20px}


.tooltip .tooltip-inner {text-align:left; line-height:150%}
