/* Список категорий товаров */
.b-emarket-category-list .item {display:inline-block; margin-bottom:40px}
.b-emarket-category-list h3 {font-size:16px; line-height:120%; margin-bottom:5px}
.b-emarket-category-list .photo {display:block; margin-bottom:10px}
.b-emarket-category-list .sub-item-list {overflow:hidden; padding:0 0 0 20px; margin:0}
.b-emarket-category-list .sub-item-list .cnt {font-size: 12px; margin: 0 0 0 5px; color:#999}
.b-emarket-category-list .sub-item {line-height:120%; margin-bottom:8px}
.b-emarket-category-list .expend {margin-top:5px; background:none; border:0; border-bottom:1px dashed; padding:0; font-size:10px; color:#999}
.b-emarket-category-list .expend:hover {border-bottom:1px dashed #fff}