.b-news-widget {}
.b-news-widget h2 {}
.b-news-widget .item {margin:5px 0 5px 0; padding:0 0 10px 0; clear:left}
.b-news-widget .date {font:10px Verdana,Geneva,sans-serif; color:green}
.b-news-widget .text {font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:3px 0 0 0}
.b-news-widget .more {font:12px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:right; clear:left; display:none}
.b-news-widget h3 {font:14px/16px 'Trebuchet MS',Arial,sans-serif; margin:0}
.b-news-widget a:link, .b-news-widget a:visited {}
.b-news-widget a:hover {text-decoration:none}
.b-news-widget .rss {margin:0 0 0 10px}
.b-news-widget .rss img {vertical-align:baseline}
.b-news-widget .addYandex {position:relative; margin:0 0 0 5px; vertical-align:baseline}
.b-news-widget .addYandex img {clip: rect(60px, 428px, 76px, 400px); position:absolute; top:-57px; left:-400px; vertical-align:baseline}
.b-news-widget .photo {margin:6px 6px 0 0; float:left}
.b-news-widget .photo img {width:100px}
.b-news-widget .archive {margin:-5px 0 20px; clear:left}